apiVersion: v1
kind: Service
metadata:
  name: immich-server-svc
  namespace: {{ immich_namespace }}
spec:
  selector:
    app: immich-server
  ports:
    - name: web
      protocol: TCP
      port: {{ immich_server_port }}
      targetPort: {{ immich_server_port }}
    - name: api
      protocol: TCP
      port: {{ immich_api_port }}
      targetPort: {{ immich_api_port }}
    - name: web1
      protocol: TCP
      port: 2283
      targetPort: 2283
---
apiVersion: v1
kind: Service
metadata:
  name: immich-ml-svc
  namespace: {{ immich_namespace }}
spec:
  selector:
    app: immich-ml
  ports:
    - protocol: TCP
      port: {{ immich_ml_port }}
      targetPort: {{ immich_ml_port }}
  type: ClusterIP  # или LoadBalancer, если нужно внешнее подключение
