apiVersion: v1
kind: ConfigMap
metadata:
  name: immich-env-config
  namespace: {{ immich_namespace }}
data:
  DB_HOSTNAME: "{{ immich_postgres_host }}"
  DB_PORT:     "{{ immich_postgres_port }}"
  DB_USERNAME: "{{ immich_postgres_user }}"
  DB_PASSWORD: "{{ immich_postgres_password }}"
  DB_DATABASE_NAME: "{{ immich_postgres_db }}"
  DB_URL: "postgresql://{{ immich_postgres_user }}:{{ immich_postgres_password }}@{{ immich_postgres_host }}:{{ immich_postgres_port }}/{{ immich_postgres_db }}"

  SERVER_HOST: "0.0.0.0"
  SERVER_PORT: "3333"

  REDIS_HOST: "{{ immich_redis_host }}"
  REDIS_PORT: "{{ immich_redis_port }}"

  UPLOAD_PATH: "/data/upload"

  NODE_ENV: "production"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: {{ immich_namespace }}
data:
  nginx.conf: |
{% for line in lookup('template', 'nginx.conf.j2') | split('\n') %}
    {{ line }}
{% endfor %}

