apiVersion: v1
kind: Service
metadata:
  name: immich-nginx-svc
  namespace: {{ immich_namespace }}
spec:
  type: LoadBalancer
  selector:
    app: immich-nginx
  ports:
    - protocol: TCP
      port: 8080
      targetPort: {{ nginx_port }}

